{% extends 'base.html.twig' %}
{% block body %}
    <a class="btn btn-primary" href="/discussions/create">Create Discussion</a>
    <fieldset class="mx-auto d-flex flex-column align-items-center">
        <div class="list-group w-100 my-5">
            {% for discussion in discussions %}
                {{ component('Discussion', {discussion: discussion, user: app.user}) }}
            {% endfor %}
        </div>
        {{ component('Pagination', {page: page, totalPages: totalPages}) }}
    </fieldset>
{% endblock %}
